.articles-container {
  height: auto;
  padding-bottom: 10rem;
  padding-top: 4rem;
  width: 80vw;
  margin-left: 10vw;
}
.manage-articles{
    height: auto;
    padding-bottom: 10rem;      
}
.articles-header {
  display: flex;
  justify-content: space-between;
  font-size: 5rem;
  padding-bottom: 3.2rem;
}
.articles-header h2 {
  font-size: 3.6rem;
}
.new-article-link {
  color: var(--secondary-text-color);
  border: none;
  background-color: #00d724;
  padding: 0.6rem;
  width: 10rem;
  height: 3rem;
  font-weight: 600;
  margin-right: 9rem;
  margin-top: 0.8rem;
  font-size: 1.5rem;
  text-align: center;
}
.new-article-link:hover {
  opacity: 0.7;
}
.inner-articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  margin-bottom: 1rem;
}
