.articles-container {
    height: auto;
    width: 80vw;
    margin-left: 10vw;
    padding-bottom: 20rem;
}
.articles-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding-bottom: 3.2rem;
}
.manage-articles-link:hover{
    opacity: 0.7;
}
.articles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    margin-bottom: 1rem
}
.single-article-container{
border: 0.2rem solid var(--primary-text-color);
}
.single-article-container img{
width: 10rem;
height: 10rem;
}