.single-article-container {
    box-shadow: var(--primary-box-shadow);
    /* padding: 1rem; */
    position: relative;
  }
  .single-article-container img {
    width: 48rem;
    height: 34rem;
  }
  .single-article-container h2{
    font-size: 3rem;
  }
  .single-article-container h3, p{
    font-size: 2rem;
  }
  .single-article-text{
    padding: 1rem;
  }
.single-article-container button {
    padding: 0.8rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    color: var(--secondary-text-color);
}
.single-article-container button:hover {
    opacity: 0.8;
}
.single-article-container .red-background{
    background-color: var(--primary-red);
}
.single-article-container .green-background{
    background-color: var(--primary-green);
}