.about-banner-container {
  width: 80vw;
  height: 40rem;
  margin: 2rem;
  font-size: 1.8rem;
  color: var(--primary-text-color);
  padding: 6rem;
  padding-top: 3rem;
  box-shadow: var(--primary-box-shadow);
}
.about-banner-container h3 {
  font-size: 4rem;
  padding-bottom: 2rem;
}
.about-banner-points {
  font-weight: 700;
}
