.loading {
  font-size: 3rem;
  margin: 2rem;
  text-align: center;
  font-weight: 500;
}
.home-container {
  /* background-color: var(--secondary-background-color); */
  padding-left: 8vw;
  padding-right: 8vw;
}
