.institute-container {
  width: 80vw;
  height: 34rem;
  margin: 2rem;
  font-size: 1.8rem;
  background-color: var(--primary-text-color);
  color: var(--secondary-text-color);
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
}

.institute {
  text-align: center;
  width: 30rem;
}

.institute p {
  margin-top: 1rem;
  line-height: 2rem;
}

.institute-logo {
  height: 8rem;
  width: 8rem;
}

.institute-logo-background {
  height: 10rem;
  width: 10rem;
  background-color: var(--secondary-text-color);
  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
