* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0.4rem;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #9cc4ff;
  --secondary-color: #000fb8;
  --primary-red: #ff002b;
  --primary-green: #00d724;
  --primary-box-shadow: 0.6rem 0.5rem 5rem var(--secondary-background-color);

}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

html {
  font-size: 62.5%;
}

.btn {
  display: block;
  text-align: center;
  border-radius: 8px;
  margin: 1rem 0;
  font-weight: 500;
  font-family: inherit;
}

.btn:hover {
  transform: scale(1.1);
}

.single-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
